<div class="container">
  <div class="row mb-4 me-0">
   <span class="col-2"><%= image_tag( @user.photo , size: "120x120", :alt => "user_profile") -%></span>
    <div class="col-10 p-4 pe-n-1 border d-flex justify-content-between">
      <h2><%= @user.name %></h2>
      <h4 class="mt-4">Number of posts <%= @user.posts.size %></h4>
    </div>
  </div>
  <div class="p-4 mb-4 border">
    <h4>Bio</h4>
    <p><%= @user.bio %></p>
  </div>
  <ul class="list-group mb-4">
    <% @user.last_three_posts.each_with_index do |post, i| %>
    <li class="list-group-item">
      <h4><%= post.title %></h4>
      <p><%= post.text %></p>
    </li>
  </ul>
  <%end %>
   <%= link_to  "Add A post", new_user_post_path(@user), class:"btn btn-secondary" %>
   <%= link_to "See all posts", user_posts_path(@user.id), class:"btn btn-secondary"%>
</div>
