<div>
  <ul class="list-group">
    <li class="list-group-item">
      <div>
        <h4>Post #<%= @post.id %> by <%= @post.author.name %></h4>
        <h4><%= @post.title %></h4>
        <div class="d-flex">
          <p class="me-2">Comments: <%= @post.comments.count %>,</p>
          <p>Likes: <%= @post.likes.count %></p>
        </div>
      </div>
      <p><%= @post.text %></p>
      <%= render "likes/new_like", local: {post: @post}%>
    </li>

    <li class="list-group-item">
      <% @post.comments.each do |comment, i| %>
      <div class="d-flex align-items-center">
        <h4 class="me-2"><%= comment.author.name %>:</h4>
        <p><%= comment.text %></p>
      </div>
      <%end%>
    </li>
  </ul>
  <button><%= link_to  "Create new Comment", new_user_post_comment_path(@post.author, @post)  %></button>
</div>
